<div class="container">
    <h1 class="h1 font-semibold" id="payment-heading">Paiement en ligne sécurisé</h1>

    <div class="flex-row" id="payment-flexRow">
        <div id="payment-col-side">
            <div class="panel panel-default">
                <div class="panel-body" id="payment-process">
                    <ul class="vertical-breadcrumb hidden-xs hidden-sm">
                        <li class="item">Entrez le numéro de carte</li>
                        <li class="item">Entrez votre nom et la date d'expiration</li>
                        <li class="item">Entrez le code cryptogramme <small>Généralement situé à l'arrière de la carte de crédit</small></li>
                    </ul>

                    <h2 class="h2 font-light" id="payment-price">Total : <strong>{{ order.price }}€</strong></h2>

                    <button onclick="$('#card-form').submit();" id="submit-button" class="btn btn-default btn-success btn-block-md"> <i class="fa fa-check"></i> Valider</button>
                </div>
            </div>

            <div class="panel panel-default" id="payment-info-panel">
                <div class="panel-body">
                    <p>
                        {{ 'appventus.mangopay.payment_page.info_block'|trans }}
                    </p>
                </div>
            </div>
        </div>

        <div id="payment-col-main">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="payment-form">

                        <div id="payment-form-front">
                            <div class="credit-card">
                                <div id="creditCard-front-number">
                                    <div class="form-group -creditCard">
                                        {{form_label(form.cardNumber)}}
                                        {{form_widget(form.cardNumber)}}
                                    </div>
                                </div>

                                <div class="flex-row">
                                    <div class="form-group -creditCard pull-left" id="creditCard-front-holder">
                                        {{form_label(form.cardHolder)}}
                                        {{form_widget(form.cardHolder)}}
                                    </div>

                                    <div class="form-group -creditCard pull-left" id="creditCard-front-expiration">
                                        <div>
                                            {{form_label(form.cardExpiryMonth)}}
                                        </div>

                                        <div class="pull-left" id="creditCard-front-expiration-month">
                                            {{form_widget(form.cardExpiryMonth)}}
                                        </div>

                                        <div class="pull-left" id="creditCard-front-expiration-year">
                                            {{form_widget(form.cardExpiryYear)}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="payment-form-back">
                            <div class="credit-card -back">
                                <div class="clearfix">
                                    <div class="pull-right" id="creditCard-back-expiration-ccv">
                                        {{form_row(form.ccv)}}
                                    </div>
                                </div>

                                <p class="small">
                                    {{ 'appventus.mangopay.payment_page.helper_block'|trans }}
                                </p>
                            </div>
                        </div>


                        <form action="{{ path('appventus_mangopaybundle_payment_new', {order: order.id}) }}" data-toggle="ajax" id="card-form" method="POST">
                            {{ form_rest(form) }}
                        </form>
                    </div>

                </div>
            </div>

            <div class="panel panel-default text-center" id="payment-mangoCredit">
                <img src="/bundles/appventusmangopay/img/mango-frise.png" alt="Powered by Mango Pay">
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $("#appventus_mangopay_card_expiry_month, #appventus_mangopay_card_expiry_year").on('change', function(e) {
            if ($(this).val().length < 2) {
                $(this).val("0" + $(this).val());
            }
        });

        $('input').keypress(function() {
            if ($('#appventus_mangopaybundle_card_type_ccv').val()) {
                $("#payment-process .vertical-breadcrumb > .item").eq(2).addClass('-active');
            }

            if (
                $('#appventus_mangopaybundle_card_type_cardHolder').val() &&
                $('#appventus_mangopaybundle_card_type_cardExpiryMonth').val() &&
                $('#appventus_mangopaybundle_card_type_cardExpiryYear').val()
            ) {
                $("#payment-process .vertical-breadcrumb > .item").eq(1).addClass('-active');
            }

            if ($('#appventus_mangopaybundle_card_type_cardNumber').val()) {
                $("#payment-process .vertical-breadcrumb > .item").eq(0).addClass('-active');
            };
        });
    </script>
</div>

{% javascripts
    '@AppVentusMangopayBundle/Resources/js/mangopay.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

